fastapi==0.115.11
uvicorn==0.30.6
gunicorn==21.2.0
sqlmodel==0.0.22
pydantic==2.8.2
sqlalchemy==2.0.30
timescaledb
requests==2.32.3
psycopg[binary]==3.1.18  # psycopg v3
# psycopg2-binary
flake8==7.1.1
black==24.8.0
python-jose==3.3.0
passlib==1.7.4
bcrypt==3.2.2
alembic==1.13.2
prometheus-client==0.20.0
prometheus-fastapi-instrumentator==7.0.0
mypy==1.10.0
httpx==0.27.0