fastapi==0.115.11
uvicorn
gunicorn
sqlmodel
pydantic
sqlalchemy
timescaledb
requests
python-decouple
psycopg[binary] # psycopg v3
# psycopg2-binary
regex
flake8
black
passlib[bcrypt]
python-jose
bcrypt